h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}


body {
	 /* background: #D3D8E8; */
	 background: #f5f8fa;
}

#form-report-container{
	 background: #fff;


	
}


#page-container{
	background: #fff;
}

#home-icon{
	color: #66757f;
	font-size: 1.3em;
}

#nav-list > li > a{
	font-size: 14px;
	font-family: verdana;
}

#dropdown-nav-list > li > a{
	font-size: 14px !important;
	font-family: verdana;
}

.ui-widget-content{
	min-width: 500px;
}


#Edit-notes {
	width: 450px;
	height: 40px;
	font-family: verdana;
}



/*  navbar background */
.navbar-default{
	background: #F3CA26;
}

div.jtable-title div.jtable-title-text {
	background: #F3CA26;
}
div.jtable-title {
	background: #F3CA26;
}

/* backgroup report table file path /app/vendor/jtable/themes/lightcolor/orange de la lina 480 a 49*/


